---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <Content />
  <p>
    Have a question or want to chat about the article? Feel free to email me at
	<a href="mailto:diegodevofficial@gmail.com" target="_blank">diegodevofficial@gmail.com</a>
	or contact me in <a href="https://www.linkedin.com/in/diego-castillo1/" target="_blank">LinkedIn</a>
  </p>
</BlogPost>
