---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi! 👋</h1>
			<p>
				Welcome to my blog. I share my thoughts on how to build quality software, with
				an emphasis on software design and architecture. By laying out my thoughts and 
				ideas, I intend to establish a set of standard rules that will guide me in developing
				maintainable software. I hope you benefit from my writings! Feel free to share your own 
				insights and knowledge. I'm eager to learn from you as well!
			</p>
		</main>
		<Footer />
	</body>
</html>
