---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
		<h2 class="site-logo">{SITE_TITLE}</h2>
		<div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  nav {
    display: flex;
		padding-top: 1em;
		gap: 0.5em;
		flex-direction: column;
  }
	.site-logo {
    margin: 0;
    font-size: 1em;
		align-self: center;
  }
	.internal-links {
		display: flex;
	}
</style>
