---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		flex: 1;
		text-align: center;
		padding-bottom: 0.5em;
		display: inline-block;
		text-decoration: none;
    color: var(--black);
    border-bottom: 4px solid transparent;
	}
	a.active {
		font-weight: bolder;
    text-decoration: none;
    border-bottom-color: var(--accent);
	}
</style>
